<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Editar Empleado</h3>
        </div>
        <div class="card-body">
            <form action="" >

                <div class="form-group">
                    <label for="">Nombre:</label>
                    <input type="text" class="form-control" [(ngModel)]="empleado.Nombre" name="Nombre">
                </div>

                <div class="form-group">
                    <label for="">Telefono:</label>
                    <input type="text" class="form-control" [(ngModel)]="empleado.Telefono" name="Telefono">
                </div>

                <div class="form-group">
                    <label for="">Domicilio:</label>
                    <input type="text" class="form-control" [(ngModel)]="empleado.Domicilio" name="Domicilio">
                </div>

                <div class="form-group">
                    <label for="">Correo:</label>
                    <input type="text" class="form-control" [(ngModel)]="empleado.Correo" name="Correo">
                </div>
                <div class="form-group">
                    <button (click)="Edit()" class="btn btn-outline-dark" >Guardar</button>
                </div>
            </form>
        </div>
  </div>
</div>
